<h4>Flop Suggestion</h4>

<h5>Suggestion List</h5>

<ul class="list-unstyled">
  <li *ngFor="let suggestion of suggestions">{{ suggestion.flopname }}</li>
</ul>

<form
  autocomplete="off"
  #form="ngForm"
  (ngSubmit)="addSuggestion(form.value)"
>
  <div class="form-group">
    <label for="flopname">Flop Name</label>
    <input
      type="text"
      class="form-control"
      id="flopname"
      name="flopname"
      (ngModel)="model.flopname"
    />

    <label for="year">Year</label>
    <input
      type="text"
      class="form-control"
      name="year"
      (ngModel)="model.year"
      id="year"
    />

    <label for="stars">Stars</label>
    <input type="text" class="form-control" id="stars"  name="stars"
    [(ngModel)]="model.stars" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
